<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .fukidashi {
        width: 300px;
        height: 300px;
        border-radius: 30px;
        background-color: lightblue;
        display: inline-block;
        padding: 50px;
        position: relative;
      }
    </style>
  </head>
  <body>
    <div class="fukidashi">
      <div class="message">
        今日は昨日の明日<br />明日は明日<br />明後日は明日の明日
      </div>
    </div>
  </body>
</html>
